%h2 Your search terms:

%table
  %thead
    %tr
      %td
        Term
      %td
        Expired?
      %td
        Created At
      %td
        Canceled At
  %tbody
    - @search_terms.each do |search_term|
      %tr
        %td
          = search_term.term
        %td
          - if search_term.expired?
            = "Yes"
        %td
          = search_term.created_at.strftime("%m-%d-%y")
        %td
          - if search_term.expired_at.nil?
            = " "
          - else
            = search_term.expired_at.strftime("%m-%d-%y")
        %td
          = link_to("Cancel Notifications", search_term_cancel_path(search_term.id))

